<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>index</title>
        <link rel="stylesheet" href="/static/css/index/index.css" />
    </head>
    <body>
        <!-- nav -->
        <div class="nav1">
            <div class="nav2">
                <div class="nav3">台北一日遊</div>
                <div class="nav4">
                    <div class="nav5">預定行程
                        <div class="nav_book_num"></div>
                    </div>
                    <div class="nav5">登入/註冊</div>
                </div>
            </div>
        </div>
        <!-- search -->
        <div class="s0">
            <div class="s1">
                <div class="s2">
                    <div class="s3">輕鬆享受台北一日遊</div>
                    <div class="s4">探索每個角落，體驗城市的深度旅遊行程</div>
                    <div class="s5">
                        <input type="text" placeholder="輸入景點名稱查詢" />
                        <button>
                            <img
                                src="/static/image/icon/icon_search.png"
                                alt=""
                            />
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- login -->
        <div class="pop_outest">
            <div class="pop_container_login">
                <div class="top_color"></div>
                <div class="pop0">
                    登入會員帳號<img
                        src="/static/image/icon/icon_close.png"
                        alt=""
                    />
                </div>
                <input
                    type="email"
                    name="email"
                    placeholder="輸入電子信箱"
                    required
                />
                <input
                    type="password"
                    name="password"
                    placeholder="輸入密碼"
                    required
                />
                <button>登入帳戶</button>
                <div class="pop1">還沒有帳戶？點此註冊</div>
            </div>
        </div>
        <!-- signup -->
        <div class="pop_outest">
            <div class="pop_container_signup">
                <div class="top_color"></div>
                <div class="pop0">
                    註冊會員帳號<img
                        src="/static/image/icon/icon_close.png"
                        alt=""
                    />
                </div>
                <input
                    type="text"
                    name="name"
                    placeholder="輸入姓名"
                    required
                />
                <input
                    type="email"
                    name="email"
                    placeholder="輸入電子信箱"
                    required
                />
                <input
                    type="password"
                    name="password"
                    placeholder="輸入密碼"
                    required
                />
                <button>註冊新帳戶</button>
                <div class="pop1">已經有帳戶了？點此登入</div>
            </div>
        </div>
        <!-- picture -->
        <div class="p0">
            <div class="p1"></div>
            <!-- loading gif before api finished -->
            <div class="loading"></div>
        </div>
        <!-- last -->
        <div class="l1">
            <div class="l2">COPYRIGHT © 2021 台北一日遊</div>
        </div>
    </body>
    <script src="/static/javascript/index/index_login_signup.js"></script>
    <script src="/static/javascript/index/index.js"></script>
</html>
