* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Noto Sans TC";
}

div.nav1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  border-bottom: solid 2px #e8e8e8;
  margin-bottom: 46px;
  z-index: 99;
}

div.nav1 div.nav2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1200px;
}

div.nav1 div.nav2 div.nav3 {
  font-size: 30px;
  font-weight: bolder;
  color: #448899;
  padding-left: 10px;
  cursor: pointer;
}

div.nav1 div.nav2 div.nav4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.nav1 div.nav2 div.nav4 div.nav5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  font-weight: 400px;
  color: #666666;
  margin-right: 20px;
  height: 62px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1200px;
}

form div.s0 {
  font-weight: 700;
  font-size: 19px;
  color: #666666;
  margin-bottom: 35px;
  margin-left: 100px;
}

form div.s1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 110px;
  position: relative;
}

form div.s1 img.attrac_img {
  width: 266px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

form div.s1 div.s2 {
  max-height: 170px;
  max-width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 30px;
}

form div.s1 div.s2 div.s3 {
  padding-top: 5px;
  font-weight: 700;
  font-size: 16px;
  color: #448899;
}

form div.s1 div.s2 div.s4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

form div.s1 div.s2 div.s4 div.s5 {
  font-weight: 700;
  font-size: 16px;
  color: #666666;
}

form div.s1 div.s2 div.s4 div.s6 {
  font-weight: 400;
  font-size: 16px;
  color: #666666;
}

form div.s1 img.icon_delete {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 110px;
  cursor: pointer;
}

form div.u0 {
  max-width: 980px;
  height: 227px;
  margin: 0 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

form div.u0 div.u1 {
  font-weight: 700;
  font-size: 19px;
  color: #666666;
}

form div.u0 div.u2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

form div.u0 div.u2 label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 16px;
  color: #666666;
}

form div.u0 div.u2 input {
  width: 200px;
  height: 38px;
  padding: 10px;
  border: 1.5px solid #e8e8e8;
  border-radius: 5px;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}

form div.u0 div.u3 {
  font-weight: 700;
  font-size: 16px;
  color: #666666;
}

form div.c0 {
  max-width: 980;
  height: 188px;
  margin: 0 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

form div.c0 div.c1 {
  font-weight: 700;
  font-size: 19px;
  color: #666666;
}

form div.c0 div.c2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

form div.c0 div.c2 label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 16px;
  color: #666666;
}

form div.c0 div.c2 input {
  width: 200px;
  height: 38px;
  padding: 10px;
  border: 1.5px solid #e8e8e8;
  border-radius: 5px;
  font-weight: 400;
  font-size: 16px;
  background-color: #ffffff;
  color: #000000;
}

form div.confirm0 {
  max-width: 980px;
  height: 100px;
  margin: 0 110px;
  position: relative;
}

form div.confirm0 div.confirm1 {
  font-weight: 700;
  font-size: 19px;
  color: #666666;
  position: absolute;
  right: 0px;
}

form div.confirm0 button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 180px;
  height: 36px;
  background: #448899;
  border-radius: 5px;
  border: none;
  font-weight: 400;
  font-size: 19px;
  color: #ffffff;
  padding: 20px;
  position: absolute;
  top: 42px;
  right: 0px;
  cursor: pointer;
}

form hr {
  background-color: #e8e8e8;
  border: 1px solid #e8e8e8;
  width: 100%;
  margin: 45px 0;
}

div.no_schedule {
  display: none;
  max-width: 980px;
  margin: auto;
}

div.no_schedule div.n0 {
  font-weight: 700;
  font-size: 19px;
  color: #666666;
  margin-bottom: 35px;
}

div.no_schedule div.n1 {
  font-weight: 400;
  font-size: 16px;
  color: #666666;
}

.pop_outest {
  display: none;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

div.pop_container_login {
  width: 340px;
  height: 275px;
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 5px;
  background-color: #ffffff;
}

div.pop_container_signup {
  width: 340px;
  height: 360px;
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 5px;
  background-color: #ffffff;
}

div.top_color {
  width: 340px;
  height: 10px;
  background: -webkit-gradient(linear, right top, left top, from(#337788), to(#66aabb));
  background: linear-gradient(270deg, #337788 0%, #66aabb 100%);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

div.pop0 {
  width: 310px;
  height: 27px;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #666666;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

div.pop0 img {
  position: absolute;
  right: 0px;
  cursor: pointer;
}

input {
  width: 310px;
  min-height: 47px;
  padding: 15px;
  font-weight: 400;
  font-size: 16px;
  color: #666666;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 310px;
  height: 47px;
  background: #448899;
  border-radius: 5px;
  color: #ffffff;
  font-weight: 400;
  font-size: 19px;
  line-height: 16px;
  border: none;
  cursor: pointer;
}

div.pop1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 400;
  font-size: 16px;
  color: #666666;
  width: 310px;
  height: 22px;
  margin-bottom: 15px;
  cursor: pointer;
}

.signout {
  font-size: 16px;
  font-weight: 400px;
  color: #666666;
  margin-right: 10px;
  height: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

div.l1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #757575;
  margin-top: 25px;
}

div.l1 div.l2 {
  font-size: 0.8rem;
  color: #ffffff;
  font-weight: 700;
  margin: 2.25rem 0;
}

@media screen and (max-width: 800px) {
  form {
    margin: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 1200px;
  }
  form div.s0 {
    font-weight: 700;
    font-size: 19px;
    color: #666666;
    margin-bottom: 35px;
    margin-left: 10px;
  }
  form div.s1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0px 10px 30px 10px;
  }
  form div.s1 img.attrac_img {
    width: 100%;
    height: 256px;
    -o-object-fit: cover;
       object-fit: cover;
    margin-bottom: 35px;
  }
  form div.s1 div.s2 {
    height: 180px;
    max-width: 700px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0px;
  }
  form div.s1 div.s2 div.s3 {
    padding-top: 5px;
    font-weight: 700;
    font-size: 16px;
    color: #448899;
  }
  form div.s1 div.s2 div.s4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  form div.s1 div.s2 div.s4 div.s5 {
    font-weight: 700;
    font-size: 16px;
    color: #666666;
  }
  form div.s1 div.s2 div.s4 div.s6 {
    font-weight: 400;
    font-size: 16px;
    color: #666666;
  }
  form div.s1 img.icon_delete {
    width: 30px;
    height: 30px;
    bottom: 0px;
    right: 0px;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  form div.u0 {
    max-width: 980px;
    height: 300px;
    margin: 0 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  form div.u0 div.u1 {
    font-weight: 700;
    font-size: 19px;
    color: #666666;
  }
  form div.u0 div.u2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  form div.u0 div.u2 label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 400;
    font-size: 16px;
    color: #666666;
  }
  form div.u0 div.u2 input {
    width: 200px;
    height: 38px;
    padding: 10px;
    border: 1.5px solid #e8e8e8;
    border-radius: 5px;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
  }
  form div.u0 div.u3 {
    font-weight: 700;
    font-size: 16px;
    color: #666666;
  }
  form div.c0 {
    max-width: 980;
    height: 188px;
    margin: 0 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  form div.c0 div.c1 {
    font-weight: 700;
    font-size: 19px;
    color: #666666;
  }
  form div.c0 div.c2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  form div.c0 div.c2 label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 400;
    font-size: 16px;
    color: #666666;
  }
  form div.c0 div.c2 input {
    width: 200px;
    height: 38px;
    padding: 10px;
    border: 1.5px solid #e8e8e8;
    border-radius: 5px;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
  }
  form div.confirm0 {
    max-width: 980px;
    height: 100px;
    margin: 0 10px;
    position: relative;
  }
  form div.confirm0 div.confirm1 {
    font-weight: 700;
    font-size: 19px;
    color: #666666;
    position: absolute;
    right: 0px;
  }
  form div.confirm0 button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 180px;
    height: 36px;
    background: #448899;
    border-radius: 5px;
    border: none;
    font-weight: 400;
    font-size: 19px;
    color: #ffffff;
    padding: 20px;
    position: absolute;
    top: 42px;
    right: 0px;
  }
  div.no_schedule {
    max-width: 980px;
    margin: 0px 10px;
  }
  div.no_schedule div.n0 {
    font-weight: 700;
    font-size: 19px;
    color: #666666;
    margin-bottom: 35px;
  }
  div.no_schedule div.n1 {
    font-weight: 400;
    font-size: 16px;
    color: #666666;
  }
}
/*# sourceMappingURL=booking.css.map */