<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>attraction</title>
        <link rel="stylesheet" href="/static/css/attraction/attraction.css" />
    </head>
    <body>
        <!-- 傳送景點id用 -->
        <div class="attrac_id" id="{{attrac_id}}"></div>
        <!-- nav -->
        <div class="nav1">
            <div class="nav2">
                <div class="nav3">台北一日遊</div>
                <div class="nav4">
                    <div class="nav5">預定行程</div>
                    <div class="nav5">登入/註冊</div>
                </div>
            </div>
        </div>
        <!-- 圖片輪播及導覽行程容器 -->
        <div class="c_outermost">
            <div class="con_1200">
                <!-- 圖片輪播 -->
                <div class="c">
                    <button class="c_button c_left_button">
                        <img
                            src="/static/image/icon/btn_leftArrow.png"
                            alt=""
                        />
                    </button>
                    <!-- 圖片容器 -->
                    <div class="c_img_container"></div>
                    <button class="c_button c_right_button">
                        <img
                            src="/static/image/icon/btn_rightArrow.png"
                            alt=""
                        />
                    </button>
                    <!-- 圓點容器 -->
                    <div class="c_dot_container"></div>
                </div>
                <!-- 行程選擇 -->
                <div class="t">
                    <div class="name"></div>
                    <div class="cate_mrt"></div>
                    <div class="choose">
                        <form action="">
                            <div class="choose0">訂購導覽行程</div>
                            <div class="choose1">
                                以此景點為中心的一日行程，帶您探索城市角落故事
                            </div>
                            <div class="date">
                                <label class="date" for="date"
                                    >選擇日期：</label
                                >
                                <input type="date" name="date" id="date" class="date"/>
                            </div>
                            <div class="time">
                                <div class="time">選擇時間：</div>
                                <input
                                    type="radio"
                                    name="time"
                                    id="up"
                                    value="up"
                                    class="up"
                                    checked
                                />
                                <label for="up">上半天</label>
                                <input
                                    type="radio"
                                    name="time"
                                    id="down"
                                    value="down"
                                    class="down"
                                />
                                <label for="down">下半天</label>
                            </div>
                            <div class="money">
                                <div class="money0">導覽費用：</div>
                                <div class="money1">新台幣 2000 元</div>
                            </div>
                            <button>開始預訂行程</button>
                        </form>
                    </div>
                </div>
            </div>
            <hr />
            <!-- 描述地址交通 -->
            <div class="content">
                <div class="description"></div>
                <div class="address">
                    <div class="address0">景點地址：</div>
                    <div class="address1"></div>
                </div>
                <div class="trans">
                    <div class="trans0">交通方式：</div>
                    <div class="trans1"></div>
                </div>
            </div>
        </div>
        <!-- last -->
        <div class="l1">
            <div class="l2">COPYRIGHT © 2021 台北一日遊</div>
        </div>
    </body>
    <script
        type="text/javascript"
        src="/static/javascript/attraction/attraction.js"
    ></script>
</html>
