<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>thankyou</title>
        <link rel="stylesheet" href="/static/css/thankyou/thankyou.css" />
    </head>
    <body>
        <!-- nav -->
        <div class="nav1">
            <div class="nav2">
                <div class="nav3">台北一日遊</div>
                <div class="nav4">
                    <div class="nav5">預定行程</div>
                    <div class="nav5">登入/註冊</div>
                </div>
            </div>
        </div>
        <!-- order content -->
        <div class="oc0">
            <div class="oc1">
                <div class="oc2">訂單編號：</div>
                <div class="oc3"></div>
            </div>
            <div class="oc1">
                <div class="oc2">價格：</div>
                <div class="oc3"></div>
            </div>
            <div class="oc1">
                <div class="oc2">付款狀態：</div>
                <div class="oc3"></div>
            </div>
        </div>
        <!-- login function -->
        <div class="pop_outest">
            <div class="pop_container_login">
                <div class="top_color"></div>
                <div class="pop0">
                    登入會員帳號<img
                        src="/static/image/icon/icon_close.png"
                        alt=""
                    />
                </div>
                <input
                    type="email"
                    name="email"
                    placeholder="輸入電子信箱"
                    required
                />
                <input
                    type="password"
                    name="password"
                    placeholder="輸入密碼"
                    required
                />
                <button>登入帳戶</button>
                <div class="pop1">還沒有帳戶？點此註冊</div>
            </div>
        </div>
        <!-- signup function -->
        <div class="pop_outest">
            <div class="pop_container_signup">
                <div class="top_color"></div>
                <div class="pop0">
                    註冊會員帳號<img
                        src="/static/image/icon/icon_close.png"
                        alt=""
                    />
                </div>
                <input
                    type="text"
                    name="name"
                    placeholder="輸入姓名"
                    required
                />
                <input
                    type="email"
                    name="email"
                    placeholder="輸入電子信箱"
                    required
                />
                <input
                    type="password"
                    name="password"
                    placeholder="輸入密碼"
                    required
                />
                <button>註冊新帳戶</button>
                <div class="pop1">已經有帳戶了？點此登入</div>
            </div>
        </div>
        <!-- last -->
        <div class="l1">
            <div class="l2">COPYRIGHT © 2021 台北一日遊</div>
        </div>
    </body>
    <script src="/static/javascript/thankyou/thankyou.js"></script>
    <script src="/static/javascript/index/index_login_signup.js"></script>
</html>
